@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0f0f;
  --foreground: #fff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}